{% extends 'base.jinja2' %}

{% block title %}
  Home Page |
{% endblock title %}

{% block content %}
  <h1>Home Page</h1>

  <p>edit me @templates/pages/home.jinja2</p>
{% endblock content %}
